@media (min-width: 769px) {
  /* Geral =========================================== */
  body {
    background: #0a0b0d;
  }

  .container {
    background: #0a0b0d;

    display: flex;
    align-items: stretch;
    height: 100vh;
  }

  .sub-text {
    opacity: 0.8;
    color: #b7154a;
  }



  /* Aside ================================================ */
  aside {
    flex: 6;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 120px 80px;

    background: #121214;

    /* IDEIA
    background: url('https://static.vecteezy.com/ti/vetor-gratis/p1/696278-texturizado-fundo-preto-gr%C3%A1tis-vetor.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%; */

    box-shadow: 0px 0px 3px #000000;
  }



  /* Main ================================================ */
  main {
    flex: 9;

    padding: 0 64px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;

    width: 100%;
  }
}




/* MOBILE =========================================== */
@media (max-width: 768px) {
  /* Geral =========================================== */
  html {
    font-size: 87.5%;
  }

  body {
    background: #0a0b0d;
  }

  .container {
    min-height: 100vh;
    padding: 30px;
    margin: 0 auto;
    background: #0a0b0d;
  }

  .sub-text {
    opacity: 0.8;
    color: #b7154a;
  }



  /* Aside ================================================ */
  aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    width: 100%;
    background: #0a0b0d;

    box-shadow: none;
  }

  .sub-title {
    color: #b7154a;
    font-weight: 500;
    font-size: 2rem;
    padding-top: 30px;
  }



  /* Main ================================================ */
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    width: 100%;
  }

}