/* Form =========================================== */
.bmi-calc{
  margin: auto 0;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: min(75vw, 400px);
}

label {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  margin-left: 16px;
  color: #272727;
}

.text-input {
  width: 100%;
  font-size: 18px;
  padding: 10px 14px;
  border-radius: 20px;
  border: 1px solid #a8a8b3;
}
  .text-input:first-child {
    margin-bottom: 12px;
  }

.text-input:focus {
  outline: none;
  border: 1px solid #50D890;
  box-shadow: 0 0 5px #39a56b;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;
}

.sub-text {
  opacity: 0.5;
  color: #272727;
  font-size: 14px;
  font-weight: 300;
  margin-left: 12px;

  font-family: arial, sans-serif;
}

  
/* Result =========================================== */
.card-container {
  width: min(75vw, 400px);
  margin: auto;
}

.card-content {
  margin-top: 1.5rem;
  background: #50D890;
  border-radius: 4rem;
  padding: 1.5rem 2rem;

  box-shadow: 1px 1px 8px #151819;
}

.card-content h3{
  text-align: center;
  color: #272727;
  font-weight: normal;
}

.card-content .result-number{
  color: #306c94;
  font-weight: bold;
  text-align: center;
  font-size: 5rem;
}

.card-content .result-text{
  color: #1f2c1f;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .card-container{
    padding-bottom: 40px;
  }

  .form {
    padding-top: 30px;
  }
}