/* Form =========================================== */

.bmi-calc{
  padding: 30px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.sub-title {
  color: #b7154a;
  font-weight: 500;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.text-input {
  width: 100%;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 10px;
}

.sub-text {
  opacity: 0.8;
  color: #b7154a;
  font-weight: 300;
}
  
  
/* Result =========================================== */
.card-container {
  width: min(75vw, 800px);
  margin: auto;
}

.card-content {
  margin-top: 4rem;
  background-color: #151819;
  border-radius: 4rem;
  padding: 1.5rem 2rem;

  box-shadow: 1px 1px 15px #151819;
}

.card-content h3{
  text-align: center;
  color: grey;
  font-weight: normal;
}

.card-content .result-number{
  color: #b7154a;
  font-weight: bold;
  text-align: center;
  font-size: 5rem;
}

.card-content .result-text{
  color: #91a3ad;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
}