/* HEADER ======================== */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    width: 100%;
}

.logo {
    width: 70%;
    
    img {
        height: 100%;
    }
}

.scale {
    width: 60%;
    
    img {
        height: 100%;
    }
}

.sub-title {
    color: #EFFFFB;
    font-weight: 500;
    font-size: 1.25rem;
    margin: 0 2rem;
}


/* RESPONSIVE ====================== */
@media (min-width: 768px) and (max-width: 1000px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    
        width: 100%;
    }
    
    .logo {
        width: 80%;
        
        img {
            height: 100%;
        }
    }
    
    .scale {
        width: 80%;
        
        img {
            height: 100%;
        }
    }
    
    .sub-title {
        color: #EFFFFB;
        font-weight: 500;
        font-size: 1rem;
        margin: 0 2rem;
    }
}
@media (max-width: 768px) {
    .header {
        gap: 10px;
    }
    
    .logo {
         height: 64px;   
    }
    
    .scale {
        visibility: hidden;
        height: 0px;
    }

    .sub-title {
        font-size: 1.25rem;
        color: #272727;
    }
}